.container
  %p= link_to "Breweries", alpha_breweries_path

  .col-md-4
    %h2 Breweries
    - @breweries.each do |brewery|
      %div
        = link_to brewery.name, alpha_admin_brewery_show_path(brewery)

  .col-md-8
    %h1 New Brewery

    = form_for [:alpha, :admin, @brewery] do |f|
      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control", autofocus: true

      .form-group
        = f.submit nil, class: "btn btn-default"
