.container
  %p= link_to "Breweries", new_alpha_brewery_path

  .col-md-4
    %h2 Beers for <strong>#{@brewery.name}</strong>
    - @brewery.beers.each do |beer|
      %div
        = beer.name

  .col-md-8
    %h1 New Beer for <strong>#{@brewery.name}</strong>

    = form_for [:alpha, @brewery, @brewery.beers.build] do |f|
      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control", autofocus: true

      .form-group
        = f.submit nil, class: "btn btn-default"
