.container.container-fluid
  %h3.branded HOPPIST alpha
  %h2 What do you think of <em>#{@beer.name}</em>?

  = form_for [:alpha, @review] do |f|
    = f.hidden_field :beer_id, value: @beer.id

    .form-group
      = f.label :star_rating
      = f.hidden_field :star_rating
      #stars
        %span.glyphicon.glyphicon-star-empty#1{style: "font-size: 3.5em"}
        %span.glyphicon.glyphicon-star-empty#2{style: "font-size: 3.5em"}
        %span.glyphicon.glyphicon-star-empty#3{style: "font-size: 3.5em"}
        %span.glyphicon.glyphicon-star-empty#4{style: "font-size: 3.5em"}
        %span.glyphicon.glyphicon-star-empty#5{style: "font-size: 3.5em"}

    .form-group
      = f.label :colour_rating
      %p <em>dark / light</em>
      = f.hidden_field :colour_rating
      #colour-gradient
        %p#colour-rating-display ~

    .form-group
      = f.label :flavour_rating
      %p <em>malty / hoppy</em>
      = f.hidden_field :flavour_rating
      #flavour-gradient
        %p#flavour-rating-display ~

    .form-group
      = f.submit "SUBMIT", class: "btn btn-primary"
