.container.container-fluid
  %h3.branded HOPPIST alpha
  %h4
    = link_to "View by Brewery", alpha_breweries_path
    or
    = link_to "Random", new_alpha_review_path

  %h2= @beer.name
  %h3 Review this beer
  = form_for [:alpha, @review] do |f|
    = f.hidden_field :from_show_page, value: 1
    = f.hidden_field :beer_id, value: @beer.id

    .form-group
      = f.hidden_field :star_rating
      #stars
        %span.glyphicon.glyphicon-star-empty#1{style: "font-size: 3.5em"}
        %span.glyphicon.glyphicon-star-empty#2{style: "font-size: 3.5em"}
        %span.glyphicon.glyphicon-star-empty#3{style: "font-size: 3.5em"}
        %span.glyphicon.glyphicon-star-empty#4{style: "font-size: 3.5em"}
        %span.glyphicon.glyphicon-star-empty#5{style: "font-size: 3.5em"}

    .form-group
      = f.label :colour_rating, "Colour (dark/light)"
      = f.hidden_field :colour_rating
      #colour-gradient
        %p#colour-rating-display ~

    .form-group
      = f.label :flavour_rating, "Flavour (malty/hoppy)"
      = f.hidden_field :flavour_rating
      #flavour-gradient
        %p#flavour-rating-display ~

    .form-group
      = f.submit "SUBMIT", class: "btn btn-primary pull-right"
